:root {
  --green-50: hsl(141deg, 75%, 90%);
  --green-100: hsl(141deg, 75%, 85%);
  --green-200: hsl(141deg, 75%, 70%);
  --green-300: hsl(141deg, 75%, 60%);
  --green-400: hsl(141deg, 75%, 50%);
  --green-500: hsl(141deg, 75%, 45%);
  --green-600: hsl(141deg, 75%, 35%);
  --green-700: hsl(141deg, 75%, 25%);
  --green-800: hsl(141deg, 75%, 15%);
  --green-900: hsl(141deg, 75%, 10%);
  --green-950: hsl(141deg, 75%, 5%);
  --green-1000: hsl(141deg, 75%, 2.5%);

  --green-shadow: hsl(141deg, 75%, 2.5% / 25%);

  --transition-duration: 200ms;
  --transition-function: ease;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--green-1000);
  color: var(--green-50);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* MAIN */

.main {
  padding: 20px 2%;
  margin: 0 10px 10px;
  border-radius: var(--border-radius-l);
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-1000)
  );
  flex: 1;
}

@media (max-width: 1280px) {
  .main {
    padding: 12px 16px;
  }
}


/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.header__link:hover {
  text-decoration: underline;
}

/* SONG LIST */

.song-list__see-more {
  font-weight: 700;
  margin-top: 20px;
  margin-left: 25px;
}

.song-list__see-more:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* SINGLE SONG */

.song {
  display: grid;
  grid-template-rows: 1fr auto;
  flex: 1;
}

.song__container {
  margin: 0 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    var(--green-800),
    var(--green-950)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.song__image-container {
  box-shadow: 0 0 25px 10px var(--green-shadow);
}

.song__bar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  background-color: black;
  color: white;
  padding: 16px 25px;
  gap: 15px;
}

.song__artist-image {
  justify-self: start;
  border-radius: var(--border-radius-s);
  overflow: hidden;
}

.song__name {
  font-size: 19px;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .song__name {
    font-size: 16px;
  }
  
  .song__bar{
    grid-template-columns: auto 2fr 3fr;
  }
  
  .song__info{
    grid-column: 2;
    grid-row: 1;
    justify-self: start;
  }

}

@media (max-width: 800px) {
  .song__bar{
    grid-template-columns: auto 1fr;
  }

  .song__name, .song__info {
    font-size: 15px;
  }
}
